# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = tutorial.settings

[deploy]
project = tutorial
#Replace with droplet IP address as necessary
url = http://46.101.96.30:6800/
username = quotes-deployer
password = test
version = GIT
